coding/docs/index.html
<!DOCTYPE html>

<head>
	<script src='https://use.typekit.net/poq3wzz.js'></script>
	<script>
		try {
			Typekit.load({
				async: true
			});
		} catch (e) {}
	</script>
	<link rel='stylesheet' href='src/css/reset.min.css'>
	<link rel='stylesheet' href='css/main.css'>
</head>

<body>
	<div class='wrpTop'>
		<div class='logo'>
			<img src='./src/img/logo-e8415ba9.svg'>
		</div>
		<p>We are a full-service digital agency with offices in Los Angeles, San Francisco, Austin, and Buenos Aires.</p>
	</div>
	<div class='wrpHello'>
		<div class='wrpHello__container'>
			<div class='wrpHello__title'>
				<p>
					Hello.
				</p>
			</div>
			<div class='wrpHello__body'>
				<p>
					We’ve worked with countless organizations and businesses to enhance their brand through web and mobile experiences. Join us as we design, develop, and launch ideas that will shape the future.
				</p>
			</div>
		</div>
	</div>
	<div class='wrpCliants'>
		<h2>Our Cliants</h2>
		<ul>
			<li><img src='src/img/cli_launchrock-7a6f8b74.png' alt=''></li>
			<li><img src='src/img/cli_mithril-cfa5691c.png' alt=''></li>
			<li><img src='src/img/cli_mpowered-3029d84c.png' alt=''></li>
			<li><img src='src/img/cli_mtv-c6c369b9.png' alt=''></li>
			<li> <img src='src/img/cli_omaze-5c0c60ce.png' alt=''></li>
			<li><img src='src/img/cli_qualcomm-34aa136a.png' alt=''></li>
			<li><img src='src/img/cli_rockhealth-508cda36.png' alt=''></li>
			<li><img src='src/img/cli_roxy-990e5257.png' alt=''></li>
			<li> <img src='src/img/cli_thiel-854a7134.png' alt=''></li>
			<li><img src='src/img/cli_thielfellowship-76caad7a.png' alt=''></li>
			<li><img src='src/img/cli_universal-ea228297.png' alt=''></li>
			<li> <img src='src/img/cli_warner-c48f2ec0.png' alt=''></li>
		</ul>
	</div>
	<div class='wrpCliantMsg'>
		<div class='wrpCliantMsg__body'>
			<p>
				“We’ve worked with countless organizations and businesses to enhance their brand through web and mobile experiences. Join us as we design, develop, and launch ideas that will shape the future.
				We’ve worked with countless organizations and businesses to enhance their brand through web and mobile experiences. Join us as we design, develop, and launch ideas that will shape the future. experiences. Join us as we design, develop, and launch ideas that will shape the future.”
			</p>
		</div>
		<div class='wrpCliantMsg__author'>
			<p class='auther__quote'>“</p>
			<p class='auther__name'>CHARLS LEE</p>
			<p class='auther__company'>Co-Founder of Genee</p>
		</div>
	</div>
	<div class='wrpProcessTitle'>
		<h2>Our Process</h2>
		<div class="square"></div>
	</div>
	<div class='wrpProcess'></div>
	<div class='wrpFunFact'></div>
	<div class='wrpOffice'></div>
	<div class='wrpTeam'></div>
	<div class='wrpJobMsg'></div>
	<div class='wrpSnsIcons'></div>

	<div></div>
</body>

coding/dev/haml/index.haml
!!!
%head
  <script src="https://use.typekit.net/poq3wzz.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  %link(rel="stylesheet" href='css/main.css')
%body
  %div.wrpTop
    %div.logo
      %img{src:'./src/img/logo-e8415ba9.svg'}
    %p We are a full-service digital agency with offices in Los Angeles, San Francisco, Austin, and Buenos Aires.
  %div.wrpHello
    %div.wrpHello__title
      %p
        Hello.
    %div.wrpHello__body
      %p
        We’ve worked with countless organizations and businesses to enhance their brand through web and mobile experiences. Join us as we design, develop, and launch ideas that will shape the future.
  %div.wrpCliants
  %div.wrpCliantMsg
  %div.wrpProcessTitle
  %div.wrpProcess
  %div.wrpFunFact
  %div.wrpOffice
  %div.wrpTeam
  %div.wrpJobMsg
  %div.wrpSnsIcons
  %div
  
  
